.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &>button {
    border-radius: 20px;
    font-size: 40px;
    padding: 10px;
    background:none;
    border: none;
    color: aliceblue;
    cursor: pointer;

    &:hover {
      background-color:yellow;
      color: black;
    }
 }
  
}


